@charset "UTF-8";

/* --------------------------------
 * base
 * -------------------------------- */
html {
  font-size: 62.5%;
}
body {
  background: #151515 url('../image/bg.png') no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN",  Meiryo,  sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}


/* --------------------------------
 * parts
 * -------------------------------- */
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover {
  opacity: 0.9;
}
.button-showy {
  background-color: #D29E04;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}


/* --------------------------------
 * auth
 * -------------------------------- */


/* --------------------------------
 * header
 * -------------------------------- */
.header {
  padding: 60px 30px 20px;
}
.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}
.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}
.site-description {
  margin-bottom: 50px;
  color: #888;
  font-size: 1.6rem;
}
.buttons .button {
  margin: 10px;
}

.header_menu {
    width: 100%; /* 幅いっぱいを指定 */
    height: 50px; /* 高さを50pxに指定 */
    background: transparent; /* 背景色に透明を指定 */
    padding: 20px 30px; /* ヘッダーに上下左右それぞれ余白を指定 */
    box-sizing: border-box; /* padding分を含んで幅を100%にするため */
    position: fixed; /* ウィンドウを基準に画面に固定 */
    top: 0; /* 上下の固定位置を上から0pxにする */
    left: 0; /* 左右の固定位置を左から0pxにする */
}

#menubar * {
	border: solid 1px #aaa;
	margin: 0;
	padding: 5px;
	text-align: center;
	width: 80px;
	text-align:center;
}

#menubar dd {
	background:#eee;
	text-align:center;
	width: 200px;
}

#menubar a {
	border:transparent;
}



/* --------------------------------
 * about
 * -------------------------------- */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.about-text {
  margin: 30px 0;
  line-height: 2.5;
}


/* --------------------------------
 * works
 * -------------------------------- */
.works {
  padding: 80px 0;
  background-color: #383634;
}

img {
	width: 100%;
	height: 100%;
	
}


/* --------------------------------
 * skills
 * -------------------------------- */
.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}
.skills-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}
.skill-text {
  margin: 0 20px;
  line-height: 2;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}
tbody {
	color: #333;
}

/* --------------------------------
 * contact
 * -------------------------------- */
.contact {
  padding: 80px 0 150px;
}
.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form textarea,
.contact-form input[type=password] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.contact-form input[type=text]:focus,
.contact-form textarea:focus,
.contact-form input[type=password]:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.contact-form input[type=file] {
  margin-bottom: 10px;
  padding: 5px;
}

.contact-form select {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.contact-form option {
  background-color: #000;
}


/* --------------------------------
 * footer
 * -------------------------------- */
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
}


/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .button:hover {
    opacity: 1;
  }

  /* --- header --- */
  .header {
    padding-top: 60px;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about-text {
    line-height: 1.8;
  }

  /* --- works --- */
  .works-wrapper,
  .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-text {
    margin: 0;
  }

  /* --- contact --- */
  .contact {
    padding-bottom: 80px;
  }
  .contact-form {
    width: 80%;
  }
}


/* --------------------------------
 * challenge
 *
 * 31行目からの.heading::before, .heading::afterの
 * スタイルをコメントアウトしてから適用してください。
 * -------------------------------- */
/*
.heading::before,
.heading::after {
  content: '';
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin: 0 0.5em;
  border: 1px solid;
  vertical-align: 0.2em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.work-box {
  overflow: hidden;
}
.work-image {
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}
.work-box:nth-child(odd) .work-image {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.work-box:nth-child(even) .work-image {
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.work-box:hover .work-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/